/* 폰트 (Noto Sans KR) */
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-Thin.ttf')
    format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-SemiBold.ttf')
    format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-ExtraBold.ttf')
    format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('@/assets/fonts/Noto_Sans_KR/static/NotoSansKR-Black.ttf')
    format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* 변수 설정 */
:root {
  --color-font-main: #3f3e3c;
  --color-point-1: #328e6e;
  --color-point-2: #67ae6e;
  --color-point-3: #99bc85;
  --color-point-4: #b7ccb4;
  --color-point-5: #d3ded9;
  --color-input-box: #dbdbdb;
  --color-brown-dark: #706d54;
  --color-brown-light: #c9b194;
  --color-brown-very-light: #ededed;
  --color-red-100: #f93949;
  --color-red-light: rgba(249, 57, 73, 0.2);
  --color-green-light: rgba(42, 125, 92, 0.2);
  --font-family-main: 'NotoSansKR', sans-serif;
}

/* 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-family: 'NotoSansKR', sans-serif;
  color: var(--color-font-main);
  /* overflow: hidden; */
}
#app {
  margin: 0;
  padding: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

/* 전체 적용 */
#containers {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main-content {
  display: flex;
  flex: 1;
}
